= div_for status, class: 'well well-small' do
  .content= status.content
  .fav
    = link_to '#', title: 'Mark as Favorite' do
      %i.icon.icon-star
  .meta
    .author= status.author
    = timeago_tag(status.created_at)
