= div_for status do
  .content= link_mentions(status.content)
  = favorite_link(status)
  .meta
    .gravatar
      = image_tag status.author.gravatar_url(size: 80)
    .details
      = link_to status.author, status.author
      = timeago_tag(status.created_at)
