- if current_user
  - if @statuses.total_count.zero?
    .well
      Your timeline is currently empty.
      How about
      = link_to 'composing a status update', '#new-status', 'data-toggle' => 'modal'
      or
      = link_to 'following another user?', user_followings_path(current_user)
  - else
    #timeline
      = render @statuses
      = paginate @statuses
- else
  .well
    %p You aren't logged in yet!
    %p= link_to 'Login via Github', login_path, class: 'btn btn-primary'
